*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}

#home{
    width: 100vw;
    height: 250vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.h1{
    color: darkgreen;
    font-size: 40px;
}

.span{
    font-size: 50px;
    color: red;
    text-decoration: underline;
}

.main-card{
    width: 64vw;
    height: 60vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.main-card:hover{
   /* transform: scale(1.1); */
}

.img{
    width: 50% ;
    height: 60vh;
    overflow: hidden;
}
.img img{
    width: 100% ;
    height: 60vh;
    border-radius: 10px 0 0 10px;
}

.main-text{
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.lorem{
    text-align: left;
    color: black;
    opacity: 70%;
    line-height: 25px;
}

.hashtag{
    width: 50px;
    height: 25px;
    color: green;
    background-color: rgba(118, 190, 118, 0.592);
    border-radius: 3px;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.user-logo{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}

.user-logo p{
    font-size: 15px;
    opacity: 100%;
    color: #333;
}

.user p{
    font-size: 14px;
    opacity: 80%;
}


@media screen and (max-width:500px) {
    .main-card{
        width: 80%;
        height: 35vh;
    }

    .img{
        height: 35vh ;
    }

    .img img{
        width: 100%;
        height: 100%;
    }
    .main-text {
        height: 35vh;
        font-size: 10px;
        line-height: 15px;
    }

    .lorem{
        line-height: 10px;
    }

    .user-logo img{
        width: 30px;
        height: 30px;
    }
    

    .user p{
        font-size: 10px;
    }
}
